.first {
  background-color: red;
  width: 400px;
  height: 200px;

}

.second {
  background-color: blue;
  width: 200px;
  height: 200px;

}

.third {
  background-color: pink;
  width: 200px;
  height: 300px;

}

